---
import "@fontsource-variable/inter";
import Contact from "~/components/contact.astro";
import Features from "~/components/features.astro";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import Showcase from "~/components/showcase.astro";
import Splash from "~/components/splash.astro";
import Faq from "~/components/faq.astro";
import WhatsappButton from "~/components/whatsappbutton.astro";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("/isotipovioleta.WebP", site);
const description =
  "Desarrollo de tiendas online con Tiendanube. Creamos páginas web profesionales a medida y sistemas eCommerce en Argentina.";
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/isotipovioleta.WebP" type="image/svg+xml" />
    <meta name="generator" content={generator} />
    
    <title>Innova | Desarrollo de Tiendas Online</title>
    <meta name="description" content={description} />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G5EM93SBF1"></script>
    
    <script>
      window.dataLayer = window.dataLayer || [];
      window.gtag = function () {
        window.dataLayer.push(arguments);
      };
      window.gtag('js', new Date());
      window.gtag('config', 'G-G5EM93SBF1');
    </script>
    
    <meta property="og:title" content="Innova" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="keywords" content="
      desarrollo de tiendas online personalizadas con Tiendanube,
      agencia de desarrollo ecommerce optimizada para pymes,
      creación de sitios web a medida con React y Vue,
      integración de inteligencia artificial en servicios online,
      optimización SEO avanzada para posicionamiento web,
      hosting personalizado para tiendas online y landings,
      desarrollo de ecommerce para negocios exitosos,
      soluciones web avanzadas para mejorar experiencia de usuario,
      servicios de hosting y dominios para alto rendimiento web
    " />
    
    <meta name="author" content="Innova" />
    <meta name="robots" content="index, follow">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Innova - Soluciones tecnológicas">
    <meta name="twitter:description" content="Innovamos el futuro con soluciones tecnológicas avanzadas.">
    <meta name="twitter:image" content={image}>
    
    <link rel="preload" as="image" href="/logotipoinnovavioleta.WebP" type="image/webp" />
    
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Innova WebDev",
        "url": "https://innova-webdev.com/",
        "logo": "https://innova-webdev.com/isotipovioleta.WebP",
        "contactPoint": [
          {
            "@type": "ContactPoint",
            "telephone": "+54-351-5439227",
            "contactType": "customer service",
            "areaServed": "Global",
            "availableLanguage": ["Spanish", "English"]
          }
        ],
        "sameAs": [
          "https://instagram.com/innova.webdev"
        ]
      }
    </script>
      
    <script is:inline>
      document.documentElement.dataset.theme = "dark";

      const themeSaved = localStorage.getItem("theme");
      
      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersLight = window.matchMedia(
          "(prefers-color-scheme: light)",
        ).matches;
        document.documentElement.dataset.theme = prefersLight ? "dark" : "light";
      }
      
      window
      .matchMedia("(prefers-color-scheme: light)")
      .addEventListener("change", (event) => {
        if (!localStorage.getItem("theme")) {
          document.documentElement.dataset.theme = event.matches
          ? "dark"
          : "light";
        }
      });
      </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <Splash />
    <div class="space-y-24 px-8 py-32">
      <Intro />
      <Features />
      <Contact />
      <Showcase />
      <Faq />
    </div>
    <WhatsappButton />
    <Footer />
  </body>
</html>
