---
import ContentSection from "~/components/content-section.astro";
import { Icon } from "astro-icon/components";

const contactMethods = [
  {
    title: "Email",
    icon: "fa-brands:google",
    text: "info@innova-webdev.com",
    url: "mailto:info@innova-webdev.com",
    containerClass: "containerOne"
  },
  {
    title: "Instagram",
    icon: "fa-brands:instagram",
    text: "@innova.webdev",
    url: "https://instagram.com/innova.webdev",
    containerClass: "containerTwo"
  },
  {
    title: "WhatsApp",
    icon: "fa-brands:whatsapp",
    text: "+5493515439227",
    url: "https://wa.me/543515439227",
    containerClass: "containerFour"
  },
];
---

<ContentSection title="" id="contact">
  <div class="max-w-7xl w-full flex flex-col sm:flex-row items-start justify-start fade-in">
    <div class="w-full sm:w-2/3 text-left sm:max-w-none">
      <h2 class="text-4xl font-semibold leading-tight sm:text-5xl md:text-6xl">
        Tu proyecto en buenas manos
      </h2>
      <p class="text-2xl text-gray-400 sm:text-xl mt-2 sm:mt-4">
        Empecemos a
        <span class="text-primary whitespace-normal block sm:inline">crear</span>
      </p>
    </div>
  </div>
  <div class="grid md:grid-cols-2 gap-12 w-full max-w-4xl relative z-10">
    <form action="http://localhost:3000/enviar-contacto" method="POST" class="grid gap-6">
      <div class="flex gap-3 flex-col md:flex-row">
        <input
          class="custom-input"
          type="text"
          placeholder="Nombre"
          id="name"
          name="name"
          required
        />
        <input
          class="custom-input"
          type="text"
          placeholder="Apellido"
          id="lastname"
          name="lastname"
        />
      </div>

      <form action="https://innova-webdev.com/api/enviar-contacto" method="POST" class="grid gap-6">
        <div class="flex gap-3">
          <input
            class="custom-input"
            type="text"
            placeholder="Nombre"
            id="name"
            name="name"
            required
          />
          <input
            class="custom-input"
            type="text"
            placeholder="Apellido"
            id="lastname"
            name="lastname"
          />
        </div>
        
        <input
          class="custom-input"
          type="email"
          placeholder="Email"
          id="email"
          name="email"
          required
        />
        <input
          class="custom-input"
          type="tel"
          placeholder="Teléfono"
          id="phone"
          name="phone"
          required
        />
        
        <textarea
          class="custom-input"
          placeholder="Queremos saber mas de tu proyecto..."
          id="message"
          name="message"
          rows="4"
          required
        ></textarea>
      
      {contactMethods.map((method) => (
        <li class="flex items-center gap-2">
          <a href={method.url} target="_blank" class={`socialContainer ${method.containerClass}`} aria-label={`Ir a ${method.title}`}>
            <Icon name={method.icon} class="socialSvg" />
          </a>
          <span class="text-lg text-secondary">{method.text}</span>
        </li>
      ))}
    </ul>
  </div>
</ContentSection>

<style>
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 2s ease-in-out forwards;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-input {
  background-color: #fff;
  color: #333;
  padding: 12px;
  border: 1px solid #404898;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.custom-input:focus {
  border-color: #6473d1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

@keyframes fadeInFromSide {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutAndIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  animation: fadeInFromSide 4s ease-out, fadeOutAndIn 8s ease-in-out;
}

body.dark .logo {
  animation: fadeInFromSide 1s ease-out, fadeOutAndIn 2s ease-in-out infinite;
}


@media (min-width: 768px) {
  .contact-list {
    flex-direction: column;
    justify-content: flex-start;
  }

  h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: -1;
  }
}
.fade-in 
  {
    opacity: 0;
    transition: opacity 1s ease-out;
  }

  .fade-in.visible {
    opacity: 1;
  }

  @media (max-width: 768px) {
    .fade-in {
      opacity: 1;
    }
  }
</style>
