---
import ContentSection from "~/components/content-section.astro";
import { Icon } from "astro-icon/components";

const contactMethods = [
  {
    title: "Email",
    icon: "fa-brands:google",
    text: "info@innova-webdev.com",
    url: "mailto:info@innova-webdev.com",
    containerClass: "containerOne"
  },
  {
    title: "Instagram",
    icon: "fa-brands:instagram",
    text: "@innova.webdev",
    url: "https://instagram.com/innova.webdev",
    containerClass: "containerTwo"
  },
  {
    title: "WhatsApp",
    icon: "fa-brands:whatsapp",
    text: "+5493515439227",
    url: "https://wa.me/543515439227",
    containerClass: "containerFour"
  },
];
---

<ContentSection title="" id="contact">
  <div class="max-w-7xl w-full flex flex-col sm:flex-row items-start justify-start fade-in">
    <div class="w-full sm:w-2/3 text-left sm:max-w-none">
      <h2 class="text-4xl font-semibold leading-tight sm:text-5xl md:text-6xl">
        Tu proyecto en buenas manos
      </h2>
      <p class="text-2xl text-gray-400 sm:text-xl mt-2 sm:mt-4">
        Empecemos a
        <span class="text-primary whitespace-normal block sm:inline">crear</span>
      </p>
    </div>
  </div>
  <div class="grid md:grid-cols-2 gap-12 w-full max-w-4xl relative z-10">
    <form action="https://innova-webdev.com/api/enviar-contacto" method="POST" class="grid gap-6">
      <div class="flex gap-3">
        <input class="custom-input" type="text" placeholder="Nombre" id="name" name="name" required />
        <input class="custom-input" type="text" placeholder="Apellido" id="lastname" name="lastname" />
      </div>
    
      <input class="custom-input" type="email" placeholder="Email" id="email" name="email" required />
      <input class="custom-input" type="tel" placeholder="Teléfono" id="phone" name="phone" required />
    
      <textarea class="custom-input" placeholder="Queremos saber más de tu proyecto..." id="message" name="message" rows="4" required></textarea>
    
      <button
        id="submitBtn"
        class="w-full p-3 bg-[#6473d1] text-white font-bold hover:bg-[#404898] transition rounded-lg flex items-center justify-center"
        type="submit"
      >
        <span id="buttonText">Enviar</span>
        <span id="loadingSpinner" class="hidden ml-2">
          <img src="/isotipovioleta.png" alt="Cargando..." class="blink-effect" width="30">
        </span>
        
      </button>
    </form>
    
    <div
      id="thankYouModal"
      class="fixed inset-0 bg-black bg-opacity-50 z-50 hidden"
    >
      <div
          class="bg-white p-10 rounded-xl shadow-2xl text-center relative max-w-md w-full top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
        >
        <div class="mb-6">
          <img src="/logotipoinnovanegro.png" alt="Ícono de la empresa" class="w-18 h-16 mx-auto" />
        </div>
        <h2 class="text-3xl font-bold mb-4 text-[#5e17eb]">¡Gracias!</h2>
        <p class="text-lg text-gray-600">
          Tu proyecto nos importa. Nos pondremos en contacto pronto.
        </p>
        <button
          id="closeModal"
          class="mt-6 px-6 py-3 bg-[#5e17eb] text-white rounded-lg text-lg hover:bg-[#4a0eac] transition"
        >
          Cerrar
        </button>
      </div>
    </div>
    
    <ul class="contact-list">
      {contactMethods.map((method) => (
        <li class="flex items-center gap-3">
          <a href={method.url} target="_blank" class={`socialContainer ${method.containerClass}`} aria-label={`Ir a ${method.title}`}>
            <Icon name={method.icon} class="socialSvg text-2xl" />
          </a>
          <a href={method.url} target="_blank" class="contact-text">
            {method.text}
          </a>
        </li>
      ))}
    </ul>
  </div>
</ContentSection>

<script>
  declare var gtag: Function;

  const form = document.querySelector("form");
  const submitBtn = document.getElementById("submitBtn") as HTMLButtonElement;
  const buttonText = document.getElementById("buttonText");
  const loadingSpinner = document.getElementById("loadingSpinner");

  if (form) {
    form.addEventListener("submit", async function (event) {
      event.preventDefault();

      if (submitBtn && buttonText && loadingSpinner) {
        submitBtn.disabled = true;
        buttonText.textContent = "Enviando...";
        loadingSpinner.classList.remove("hidden");
      }

      const formData = new FormData(form);

      try {
        const response = await fetch(form.action, {
          method: form.method,
          body: formData,
        });

        if (response.ok) {
          if (typeof gtag === "function") {
            gtag("event", "form_submit", {
              event_category: "Contacto",
              event_label: "Formulario Landing",
            });
          }

          const modal = document.getElementById("thankYouModal");
          if (modal) modal.classList.remove("hidden");

          form.reset();
        }
      } catch (error) {
        console.error("Error al enviar formulario", error);
      }

      if (submitBtn && buttonText && loadingSpinner) {
        submitBtn.disabled = false;
        buttonText.textContent = "Enviar";
        loadingSpinner.classList.add("hidden");
      }
    });
  }

  const closeModalButton = document.getElementById("closeModal");
  if (closeModalButton) {
    closeModalButton.addEventListener("click", function () {
      const modal = document.getElementById("thankYouModal");
      if (modal) modal.classList.add("hidden");
    });
  }
</script>

<style>
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-out;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-input {
  background-color: #fff;
  color: #333;
  padding: 12px;
  border: 1px solid #404898;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.custom-input:focus {
  border-color: #6473d1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blink-effect {
  animation: blink 2s infinite;
}

.logo {
  animation: fadeInFromSide 4s ease-out, fadeOutAndIn 8s ease-in-out;
}

body.dark .logo {
  animation: fadeInFromSide 1s ease-out, fadeOutAndIn 2s ease-in-out infinite;
}


@media (min-width: 768px) {
  .contact-list {
    flex-direction: column;
    justify-content: flex-start;
  }

  h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: -1;
  }
}
.fade-in {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
  }

  .fade-in.visible {
    opacity: 1;
  }

  @media (max-width: 768px) {
    .fade-in {
      opacity: 0;
      animation: fadeIn 1.5s ease-in-out forwards;
    }
  }
</style>
